Name:       pass-ln
Version:    ${VERSION//-/+}
Release:    1%{?dist}
Summary:    Pass extension for creating symbolic links

License:    MIT
URL:        https://github.com/radian-software/pass-ln
Source0:    https://github.com/radian-software/pass-ln/releases/download/v${VERSION}/pass-ln-${VERSION}.tar.gz

Requires:   pass coreutils
BuildArch:  noarch

%description
Pass extension for creating symbolic links

%prep
%setup -n pass-ln-${VERSION}

%build

%install
install -D etc/bash_completion.d/pass-ln %{buildroot}/%{_sysconfdir}/bash_completion.d/pass-ln
install -D lib/password-store/extensions/ln.bash %{buildroot}/%{_prefix}/lib/password-store/extensions/ln.bash
install -D share/doc/pass-ln/CHANGELOG.md %{buildroot}/%{_docdir}/pass-ln/CHANGELOG.md
install -D share/man/man1/pass-ln.1 %{buildroot}/%{_mandir}/man1/pass-ln.1

%files
%{_sysconfdir}/bash_completion.d/pass-ln
%{_prefix}/lib/password-store/extensions/ln.bash
%{_docdir}/pass-ln/CHANGELOG.md
%{_mandir}/man1/pass-ln.1.gz

%changelog
